.head {
    background-image : url("../image/h_img.jpg");
    background-size: cover;
    height : 900px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    padding-block-start: 400px;
}
#icon {
    padding-block-start: 100px;
}