.head {
    background-image : url("../image/h_img.jpg");
    background-size: cover;
    height : 900px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    padding-block-start: 400px;
}
#icon {
    padding-block-start: 100px;
}
.about {
    text-align: center;
    padding-block-start: 30px;
    padding-block-end: 70px;
    font-weight: bolder;
}
.service {
    background-image: url("../image/s_image.jpg");
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    height: 400px;
    width: 100%;
}
 #main {
    padding-block-start: 100px;
} 
.portfolio {
    text-align: center;
    padding-block-start: 90px;
}
input[type=text],textarea {
    padding: 6px;
    background: transparent;
    color: aliceblue;
}
.contact {
   background-image: url("../image/c_image.jpg");
   color: #f3efef;
   text-align: center;
   font-weight: bold;
   padding-block-start: 40px;
   padding-block-end: 100px;
}